body {
    font-family:  "Crimson Pro", serif;
    font-size: 18px;
    margin: 0; 
    padding: 0; 
    letter-spacing: 0.5px;
}
h1, h2, h3, h4, h5, h6 {
    font-family:  "Crimson Pro", serif;
    font-weight: 500px;
}

h1 { 
    font-size: 80px; 
    letter-spacing: -0.5px;
    font-weight: 500px; 
    margin: 0 auto; 
}
h1#essay3 {
    font-size: 55px; 
    letter-spacing: -0.5px;
    font-weight: 500px; 
    margin: 0 auto; 
}

h2{ 
    font-size: 50px;
    letter-spacing: -0.5px
}

.content h3 {
    font-size: 48px;
    letter-spacing: 0px;
    text-transform: capitalize;
}

h4 {
    font-size: 30px;
    letter-spacing: 0.25px;

}
h5 {
    font-size: 24px;
    letter-spacing: 0.25px;
    
}
h6 {
    font-size: 20px;
    letter-spacing: 0.25px;
    
}
.content {
    max-width: 900px; 
    margin: 0 auto;
    padding: 32px;
    line-height: 1.75; 
    color:black; 
    font-size: 20px;

    
}
#info {
    font-family: "Bitter", serif; 
    text-align: center; 
    text-transform: uppercase;
    font-weight:bold;
    font-size: 12px;
    letter-spacing: 1.5px;
}
#info span {
    color: #e95400; 
}

p span {
    font-weight: bold; 
}

.prayer {
    font-weight: 700;
    font-family: "Crimson Pro", serif;
    letter-spacing: 0.5px;
    margin: 40px 0px; 
    font-size: 18px;
}

.prayer>cite {
    display: block; 
    font-weight: bold;
    margin-left: 20px;  
}



.bibleverse {
    font-style: italic; 
    line-height: 20px; 
    font-size: 14px;
    border-left:2px solid #e95400; 
    padding-left: 16px; 
    margin: 32px 0 32px 32px; 
    

}
.bibleverse cite {
    display: block; 
    font-weight: bold;
    margin-left: 20px;  
}


header {
     background-color: #863ae8;
}

footer {
    background-color: #863ae8; 
}

footer ul {
    list-style: none;
    margin: 0 auto; 
    width: 100%; 
    max-width: 900px;
    text-align: center; 
    padding: 28px 0px; 
}

footer li {
    display: inline; 
    padding: 0 16px; 
}

footer li a {
    text-decoration: none; 
    color: white; 
}


footer li a:hover {
    text-decoration: underline; 
}

.hero { 
    background-color:  #863ae8;
    height: 100vh; /*this will be 100% of your the user's view height" */
    color: white; 
    text-align: center;  
    display: flex; 
    /* flex box */
    flex-direction: column;
    align-items: center;
    justify-content: center; 

}
.hero h1, .hero p {
    width: 75%; 
    max-width: 900px; 
    margin: 16px 0; 

}

.hero hr {
    width: 50%;
    margin: 32px 0; 
}

.essaylist li {
    padding: 30px;
    font-size: 20px;
}

.essaylist li a:hover {
    text-decoration: underline;
}


